<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>GAH Mock Draft</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/fragment :: navbar"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">GAH Mock Draft Pool</h1>
    </div>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Rank</th>
        <th scope="col">Team</th>
        <th scope="col">Score</th>
        <th scope="col">Correct</th>
        <th scope="col" class="hidden-sm-down">Trade And Team Correct (-8)</th>
        <th scope="col" class="hidden-sm-down">Trade Partially Correct (-4)</th>
        <th scope="col" class="hidden-sm-down">Position Correct (-1)</th>
        <th scope="col" class="hidden-sm-down">Failed Trade (+2)</th>
        <th scope="col" class="hidden-sm-down">Trade Occurred (-2)</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="col" th:each="entry : ${entries}">
        <td><span th:text="${entry.rank}">Rank</span></td>
        <td><a th:href="@{'/show-entry/{name}'(name = ${entry.name})}"><span th:text="${entry.name}">Name</span></a></td>
        <td><span th:text="${entry.score}">Score</span></td>
        <td><span th:text="${entry.correct}">Correct</span></td>
        <td class="hidden-sm-down"><span th:text="${entry.tradeAndTeamCorrect}">Trade And Team Correct</span></td>
        <td class="hidden-sm-down"><span th:text="${entry.tradeCorrect}">Trade Correct</span></td>
        <td class="hidden-sm-down"><span th:text="${entry.positionCorrect}">Position Correct</span></td>
        <td class="hidden-sm-down"><span th:text="${entry.failedTrade}">Failed Trade</span></td>
        <td class="hidden-sm-down"><span th:text="${entry.tradeOccurred}">Trade Occurred</span></td>
    </tr>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>