<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Entry</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/88b58b490c.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/fragment :: navbar"></div>

<div class="jumbotron jumbotron-fluid">
    <h1 th:text="${entry.name}">Name</h1>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Pick</th>
        <th scope="col">Player</th>
        <th scope="col">Position</th>
        <th scope="col">Team</th>
        <th scope="col">Difference BTW Selection</th>
        <th scope="col">Pick Correct</th>
        <th scope="col">Trade and Team Correct (-8)</th>
        <th scope="col">Trade Partially Correct (-4)</th>
        <th scope="col">Position Correct (-1)</th>
        <th scope="col">Failed Trade (+2)</th>
        <th scope="col">Trade Occurred (-2)</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="col" th:each="selection : ${selections}">
        <td><span th:text="${selection.pick}">Pick</span></td>
        <td><span th:text="${selection.playerName}">Player</span></td>
        <td><span th:text="${selection.position}">Position</span></td>
        <td><span th:text="${selection.team}">Team</span></td>
        <td><span th:text="${selection.score}">Score</span></td>
        <td><span th:if="${selection.correct == true}"><i class="fas fa-check" style="color:green;"></i></span><span th:unless="${selection.correct == true}"><i class="fas fa-times" style="color:red;"></i></span></td>
        <td><span th:if="${selection.tradeAndTeamCorrect == true}"><i class="fas fa-check" style="color:green;"></i></span><span th:unless="${selection.tradeAndTeamCorrect == true}"><i class="fas fa-times" style="color:red;"></i></span></td>
        <td><span th:if="${selection.tradeCorrect == true}"><i class="fas fa-check" style="color:green;"></i></span><span th:unless="${selection.tradeCorrect == true}"><i class="fas fa-times" style="color:red;"></i></span></td>
        <td><span th:if="${selection.positionCorrect == true}"><i class="fas fa-check" style="color:green;"></i></span><span th:unless="${selection.positionCorrect == true}"><i class="fas fa-times" style="color:red;"></i></span></td>
        <td><span th:if="${selection.failedTrade == true}"><i class="fas fa-check" style="color:green;"></i></span><span th:unless="${selection.failedTrade == true}"><i class="fas fa-times" style="color:red;"></i></span></td>
        <td><span th:if="${selection.tradeOccurred == true}"><i class="fas fa-check" style="color:green;"></i></span><span th:unless="${selection.tradeOccurred == true}"><i class="fas fa-times" style="color:red;"></i></span></td>
    </tr>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>