<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Enter Selection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/fragment :: navbar"></div>
<div class="container">
    <div class="row">
        <div class="col-6">
<form method="POST" th:action="@{/update-selection-function}" enctype="multipart/form-data">
    <div class="form-group mt-3">
        <label for="pick">Pick Number</label><br>
        <select for="name" class="selectpicker" data-live-search="true" id="pick" name="pick">
            <div th:each="pick : ${picks}">
                <option  th:value="${pick}" th:text="${pick}">player</option>
            </div>
        </select><br>
        <br>

        <label for="name">Player Name</label><br>
        <select for="name" class="selectpicker" data-live-search="true" id="name" name="name">
            <div th:each="player : ${players}">
            <option  th:value="${player}" th:text="${player}">player</option>
            </div>
        </select><br>
        <br>

        <label for="team">Team</label><br>
        <select for="team" class="selectpicker" data-live-search="true" id="team" name="team">
            <div th:each="team : ${teams}">
                <option  th:value="${team}" th:text="${team}">team</option>
            </div>
        </select><br>
    </div>
    <button class="btn btn-primary" type="submit" onclick="this.form.submit(), this.disabled=true, this.value='Sending...'">Submit</button>
</form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>